@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --primary: #3E3232;
}

body{
    background: #B0A695;
    font-family: 'Roboto';
}

nav{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 5;
    background-color: #F5EEE6;
}

.logo{
    font-size: 35px;
    color: rgba(16, 5, 47, 0.867);
    letter-spacing: 1px;
    font-weight: 700;
    margin-left: 40px;
}
.submits{
    padding: 10px; 
     margin:10px;
    font-size:20px;
    color:#3E3232; 
}
.submits:hover{
    color: #0b0c27;
}

.nav a{
    display: flex;
font-size: 20px;
font-weight: bold;
padding: 10px;
}
.search-container {
    margin-right: 20px; 
  }
  
  .form-inline {
    display: flex;
    align-items: center;
    margin-left: 200px;
  }
  
  .form-control {
    width: 200px; 
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }
  #srch-btn {
    padding: 8px 12px;
    background-color: #3E3232; /* Change color as needed */
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  #srch-btn:hover {
    background-color: #0b0c27; /* Change color as needed */
  }
.submits{
    padding: 10px; 
    margin:10px;
    font-size:20px;
    color: #3E3232;
}
.submits:hover{
        color: #0b0c27;
}
.banner{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 0 100px 0 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-position:center;
    transform: 0.5s;
}

.banner::before{
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
}

.content{
    position: relative;
    max-width: 550px;
    display: none;
    visibility: hidden;
    transform: scale(0);
    transition: 0.5s;
}

.content.active{
    display: block;
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
    transition: all 0.3s ease;
    border-bottom: 2px solid var(--primary);
    border-right: 2px solid var(--primary);
}

.movie-title{
    max-width: 200px;
}

.banner .content h4{

    font-weight: 400;
    font-size: 30px;
}

.banner .content h4 span{
    padding: 0 10px ;
    border-right: 1px solid  rgba(255, 255, 255, 0.5);
}

.banner .content h4 span:first-child{
    padding-left: 0;
}

.banner .content h4 span:last-child{
    border-right: none;
}

.banner .content h4 span i{
    background: var(--primary);
    color: #eded;
    padding: 0 8px;
    display: inline-block;
    border-radius: 2px;
}

.banner .content p{
    font-size: 1.1em;
    font-weight: 700;
    line-height: 1.5em;
    color: #0b0c27;
    margin: 10px 0 20px;
}

.banner .content .button{
    position: relative;
}
.banner .content .button a{
    position: relative;
    display: inline-block;
    margin-right: 10px;
    background: var(--primary);
    color: #eded;
    padding: 6px 20px;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: 0.5s;
    cursor: pointer;
}

.banner .content .button a:nth-child(2){
    background: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.banner .content .button a:hover:nth-child(2){
    background:var(--primary);
}

.banner .carousel-box{
    position: relative;
    min-width: 950px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0, 0, 0, 0.2);
    box-shadow: 20px 20px 50px rgba(0, 0, 0, 0.5) ;
    border: 1px solid rgba(255, 255, 255, 0.1); 
    backdrop-filter: blur(20px);
    border-radius: 10px;
}

.carousel{
    position: relative;
    height: 550px;
    perspective: 1500px;
}
.carousel .carousel-item{
    width:250px;
    cursor: pointer;
}

.carousel .carousel-item img{
    max-width: 235px;
    border-radius: 10px;
    transform: translateX(8px) translateY(-100px);
    object-fit: cover;
}

.play{
    position: absolute;
    bottom: 10px;
    left: 50px;
    display: inline-flex;
    justify-content: flex-start;
    align-items: center;
    color: var(--primary);
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 1.5em;
    cursor: pointer !important;
    transition: 0.3s;
}

.play i{
    margin-right: 10px;
    font-size: 40px;
    cursor: pointer !important;
}

.play:hover{
    /* color: rgb(194, 192, 195); */
    color: #0b0c27;
    text-decoration: underline;
}

.sci{
    position: absolute;
    bottom: 10px;
    right: 80px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}

.sci a{
    color: #eded;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 1px;
    font-size: 25px;
    transition: 0.3s;
    cursor: pointer;
}

.sci a:hover{
    color: var(--primary);
}

.trailer{
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 100;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(20px);
    visibility: hidden;
    opacity: 0;
    transition: 0.5s;
}

.trailer.active{
    visibility: visible;
    opacity: 1;
}
#trailer video{
    max-width: 500px;
    outline: none;
    transform: translate(-30%,-30%);
}
.trailer-player {
    display:none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.trailer-player.active{
    display:block;
}

.close{
    position: absolute;
    top: 30px;
    right: 30px;
    cursor: pointer;
    filter: invert(1);
max-width: 30px;
}
footer {
    /* background-color:#26262b*/
    background-color:#191717; 
    color: #fff;
    padding: 0px 0;
   
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.contact-info,
.social-icons {
    flex: 1;
}

.contact-info h3,
.social-icons h3 {
    margin-bottom: 10px;
}

.contact-info p,
.social-icons a {
    margin-bottom: 8px;
    color: #fff;
    text-decoration: none;
}

.social-icons a {
    margin-right: 10px;
    font-size: 30px;
    padding: 10px;
}
.social-icons a:hover{
    color: #3E3232;
}
.contact{
padding: 10px; 
margin:10px;
font-size:20px;
color:#3E3232;
}
.contact:hover{
    color: #0b0c27;
}
  
  .copyright-info {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px;
    margin-bottom: 0;
  }
  .copyright-info p {
    font-size: 20px;
  }
  
  .copyright-info p span {
    font-weight: bold;
  }
  
  .copyright-info p span a {
    /* color: #54a0ff; */
    color: var(--primary);
  }
  
  .copyright-info p span a:hover {
    color: wheat;
  }

  .movie-list-container{
    padding:0 20px;
    
    }
    
    
    .movie-list {
        min-height: 45vh;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        padding: 20px;
    }
   
    .movie-card {
        background-color: #f0f0f0;
        border-radius: 10px;
        padding: 20px;
        width: 300px; 
        margin-left: 100px;
    }
    .movie-card img {
        width: 100%;
        height: 400px;
        object-fit: cover;
    }
    .movie-card .movie-title {
        font-size: 24px;
        font-weight: bold;
        margin-bottom: 10px;
        text-align: center;
    }
    
    .movie-img-container {
        display: inline-block;
        position: relative;
        height: 325px;
        width: 100%; 
        overflow: hidden;
        margin: 0px 30px;
        border-radius: 10px;
    }
   
@media screen and (max-width: 576px) {
    .banner .carousel-box {
        min-width: auto; 
        padding: 20px; 
    }

    .carousel {
        height: auto; 
    }

    .carousel .carousel-item {
        width: 200px; 
    }

    .carousel .carousel-item img {
        max-width: 180px; 
    }
}

@media screen and (max-width: 400px) {
    .banner .carousel-box {
        padding: 10px; 
    }

    .carousel .carousel-item {
        width: 150px; 
    }

    .carousel .carousel-item img {
        max-width: 130px; 
    }
}
@media screen and (max-width: 500px) {
    .nav {
        flex-direction: column; 
        align-items: flex-start; 
        padding: 10px; 
    }

    .logo {
        margin-bottom: 10px; 
    }

    .nav a {
        padding: 8px 0; 
    }
}

